<div class="container mt-5">
    <a href="/secretaria-home-2">
        <button class="btn btn-primary">↺ Atrás</button>
    </a><br><br>
  <div class="row">
      <div class="col-sm-12">
          <div class="mb-4">
              <div class="form-group">
                  <label for="filtroCorreo">Filtrar por Correo</label>
                  <input type="text" class="form-control" [(ngModel)]="filtroCorreo" name="filtroCorreo">
              </div>
              <div class="form-group">
                  <label for="filtroEstado">Filtrar por Estado</label>
                  <input type="text" class="form-control" [(ngModel)]="filtroEstado" name="filtroEstado">
              </div>
          </div>

          <div class="table-responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>TIPO</th>
                          <th>DESCRIPCIÓN</th>
                          <th>EMAIL</th>
                          <th>TELÉFONO</th>
                          <th>DOCUMENTO</th>
                          <th>ESTADO</th>
                          <th>ACCIONES</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let pqrs of filtrarPqrs(pqrs | async) || []">
                          <td>{{ pqrs.id_pqrs }}</td>
                          <td>{{ pqrs.tipo }}</td>
                          <td>{{ pqrs.descripcion }}</td>
                          <td>{{ pqrs.email }}</td>
                          <td>{{ pqrs.telefono }}</td>
                          <td>{{ pqrs.documento }}</td>
                          <td>{{ pqrs.estado }}</td>
                          <td>
                              <a [routerLink]="['/pqrs-editar-secretaria/editar/', pqrs.id_pqrs]" class="btn btn-primary">Editar</a>‎ 
                              <a (click)="borrarPqrs(pqrs.id_pqrs)" class="btn btn-danger ml-2">Borrar</a>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
