<div class="bradcam_area breadcam_bg bradcam_overlay" style="background-image: url(../../../../assets/images/bradcam.png);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h2>Servicios</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-electrocardiogram"><img style="width: 90px;" src="../../../../assets/images/hospitalidad.png" alt=""></i>
                    </div>
                    <h3>Hospitalidad</h3>
                    <p>La excelencia clínica debe ser la prioridad para cualquier proveedor de servicios de salud.</p>
                    <a href="/" class="boxed-btn3-white">Afiliate Ahora</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4" >
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"><img style="width: 85px;" src="../../../../assets/images/emergencia.png" alt=""></i>
                    </div>
                    <h3>Atención de emergencia</h3>
                    <p>La excelencia clínica debe ser la prioridad para las prestadoras de salud</p>
                    <a href="tel:3125175148" class="boxed-btn3-white">Contactanos</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-first-aid-kit"><img style="width: 85px;" src="../../../../assets/images/citam.png" alt=""></i>
                    </div>
                    <h3>Servicio de Citas</h3>
                    <p>La excelencia clínica debe ser la prioridad para cualquier proveedor de servicios de salud.</p>
                    <a href="/" class="boxed-btn3-white">Realize Una Cita</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Servicios</h3>
                    <p>Confía en nosotros para cuidar de tu salud y <br>
                        facilitar tus trámites administrativos</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/cita.webp" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Usuarios</a></h3>
                                <p>Gestiona la información personal de los usuarios afiliados.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/historia.jpg" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Historial Médico</a></h3>
                                <p>Registra y accede al historial clínico detallado y confidencial de los afiliados.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/agenda-med.jpg" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Agenda Médica</a></h3>
                                <p>Programa y consulta citas médicas con profesionales de la salud.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/cita-medica.jpg" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Citas Médicas</a></h3>
                                <p>Ofrece la conveniencia de programar consultas con profesionales de la salud altamente calificados.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/formulas-medicas.webp" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Fórmulas</a></h3>
                                <p>Accede a las fórmulas médicas prescritas por especialistas.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/recomendaciones.jpg" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Órdenes</a></h3>
                                <p>Emite órdenes médicas precisas para procedimientos y tratamientos.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/ordenes.jpg" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Exámenes</a></h3>
                                <p>Realiza una amplia gama de pruebas y análisis clínicos en nuestros laboratorios.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/incapacidad-med.jpg" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Incapacidad</a></h3>
                                <p>Solicita y administra las incapacidades médicas de los afiliados.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <a href="/" style="width: 100%;">
                    <div>
                        <div class="single_department">
                            <div class="department_thumb">
                                <img src="../../../../assets/images/pqrs.jpg" alt="" class="service_image">
                            </div>
                            <div class="department_content">
                                <h3><a href="/">Pqrs</a></h3>
                                <p>Envía Peticiones, Quejas, Reclamos o Sugerencias para mejorar nuestros servicios y atención al cliente.</p>
                            </div>
                        </div>
                    </div>
                </a>
        </div>
    </div>
</div>



<div class="business_expert_area">
    <div class="business_tabs_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav" id="tab-container" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mejores Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Doctores Calificados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contactanos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="border_bottom">
            <div class="tab-content" id="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div>
                                    <i><img style="background-color: rgb(58, 151, 187); border-radius: 40px;" src="../../../../assets/images/atencion.png" alt=""></i>
                                </div>
                                <h3>Mejores Servicios</h3>
                                <p>Ofrecemos una amplia gama de servicios de alta calidad para satisfacer las necesidades de su familia. Nuestro equipo altamente calificado está comprometido en brindar atención personalizada y centrada en su bienestar.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="../../../../assets/images/business.png" alt="" style="border-radius: 20px;">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div>
                                    <i class=""><img style="background-color: rgb(58, 151, 187); border-radius: 40px;" src="../../../../assets/images/doc.png" alt=""></i>
                                </div>
                                <h3>Doctores Calificados</h3>
                                <p>Nuestro equipo de doctores altamente calificados está listo para atender a su familia. Con años de experiencia y especialización, se esfuerzan por brindar la mejor atención médica posible, cuidando de su salud y bienestar.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="../../../../assets/images/doctor.webp" alt="" height="356px" style="border-radius: 20px;">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div>
                                    <i class=""><img style="background-color: rgb(58, 151, 187); border-radius: 40px;" src="../../../../assets/images/contactame.png" alt=""></i>
                                </div>
                                <h3>Contactanos</h3>
                                <p>Estamos aquí para responder a cualquier pregunta que tengas. Ya sea sobre nuestros servicios, horarios o ubicación, no dudes en contactarnos. Tu opinión es importante para nosotros mientras trabajamos para brindarte la mejor atención.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="../../../../assets/images/contact.jpg" alt="" height="356px" style="border-radius: 20px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript para cambiar entre pestañas
    const tabLinks = document.querySelectorAll('#tab-content .nav-link');
    const tabs = document.querySelectorAll('#tab-content .tab-pane');

    tabLinks.forEach(link => {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            tabLinks.forEach(link => link.classList.remove('active'));
            tabs.forEach(tab => tab.classList.remove('active', 'show'));
            this.classList.add('active');
            const targetTab = document.querySelector(this.getAttribute('href'));
            targetTab.classList.add('active', 'show');
        });
    });
</script>






<div class="Emergency_contact">
    <div class="conatiner-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-6">
                <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue" style="background-image: url(../../../../assets/images/emergency-1.png);">
                    <div class="info">
                        <h3>Para cualquier emergencia</h3>
                        <p>Estamos aquí para atender cualquier emergencia médica <br> 
                        que puedas tener. Nuestro equipo altamente calificado <br>
                        está disponible las 24 horas del día, los 7 días de la <br>
                        semana para brindarte la atención que necesitas.</p>
                    </div>
                    <div class="info_button">
                        <a href="tel:3125175148" class="boxed-btn3-white"><img style="width: 15px; margin-top: -5px;" src="../../assets/images/tele.png" alt="">  3125175148</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue" style="background-image: url(../../../../assets/images/emergency-2.png);">
                    <div class="info">
                        <h3>Aparte una cita en línea</h3>
                        <p>Ahora puedes apartar una cita médica en línea para <br>
                        mayor conveniencia. Simplemente sigue el enlace y <br>
                        elige la fecha y hora que mejor te convenga. <br>
                        ¡Es rápido y sencillo!</p>
                    </div>
                    <div class="info_button">
                        <a href="/" class="boxed-btn3-white"><img style="width: 20px; margin-top: -5px;" src="../../assets/images/citam2.png" alt=""> Aparte Una Cita</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>