    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_2" style="background-image: url(../../assets/images/banner2.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>Cuidado De La <br>Salud Para La</span> <br>
                                    Familia Nova EPS </h3>
                                <p>En el sector de la salud, la excelencia en el servicio es la instalación del <br> hospital como proveedor de servicios de salud a consistentemente.</p>
                                <a href="/servicios" class="boxed-btn3">Consulta Nuestros Servicios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1" style="background-image: url(../../assets/images/banner.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>Cuidado De La <br>Salud Para La</span> <br>
                                    Familia Nova EPS</h3>
                                <p>Nuestro equipo de atención al cliente está <br> disponible para ayudarte en cualquier momento.</p>
                                <a href="tel:3125175148" class="boxed-btn3">Contactanos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    

    
    <div class="service_area">
        <div class="container p-0">
            <div class="row no-gutters">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service">
                        <div class="icon">
                            <i class="flaticon-electrocardiogram"><img style="width: 90px;" src="../../assets/images/hospitalidad.png" alt=""></i>
                        </div>
                        <h3>Hospitalidad</h3>
                        <p>La excelencia clínica debe ser la prioridad para cualquier proveedor de servicios de salud.</p>
                        <a href="/registrar" class="boxed-btn3-white">Afiliate Ahora</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4" >
                    <div class="single_service">
                        <div class="icon">
                            <i class="flaticon-emergency-call"><img style="width: 85px;" src="../../assets/images/emergencia.png" alt=""></i>
                        </div>
                        <h3>Atención de emergencia</h3>
                        <p>La excelencia clínica debe ser la prioridad para las prestadoras de salud</p>
                        <a href="tel:3125175148" class="boxed-btn3-white">Contactanos</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service">
                        <div class="icon">
                            <i class="flaticon-first-aid-kit"><img style="width: 85px;" src="../../assets/images/citam.png" alt=""></i>
                        </div>
                        <h3>Servicio de Citas</h3>
                        <p>La excelencia clínica debe ser la prioridad para cualquier proveedor de servicios de salud.</p>
                        <a href="/login" class="boxed-btn3-white">Realize Una Cita</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    <div class="welcome_docmed_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_thumb">
                        <div class="thumb_1" >
                            <img style="border-radius: 30px;" src="../../assets/images/1.png" alt="">
                        </div>
                        <div class="thumb_2">
                            <img style="border-radius: 30px;" src="../../assets/images/2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_docmed_info">
                        <h2>Bienvenido a Nova EPS</h2>
                        <h3>La mejor atención para su buena salud</h3>
                        <p>En Nova EPS, estamos comprometidos a brindarte la mejor atención médica para garantizar tu bienestar. Nuestro equipo de profesionales altamente calificados está aquí para cuidar de ti y de tus seres queridos. Nos esforzamos por ofrecer servicios de calidad que te hagan sentir seguro y confiado en cada paso de tu camino hacia una vida saludable.</p>
                        <ul>
                            <li> <i class="flaticon-right"></i>Estamos para brindarte la mejor atención </li>
                            <li> <i class="flaticon-right"></i>Podras sentirte seguro y confiado con nosotros</li>
                            <li> <i class="flaticon-right"></i>Gracias por confiar en nosotros</li>
                        </ul>
                        <a href="/acerca" class="boxed-btn3-white-2">Leer Mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
            <div class="col-xl-12">
                <div class="section_title">
                    <h1 style="text-align: center;">¿Problemas Para Iniciar Sesión?</h1>
                    <div class="section-divisor"></div>

                </div>
            </div>
        </div>
        <video controls width="100%">
            <source src="../../../../assets/images/Nova EPS _ Salud Integral - Opera 2023-09-13 14-56-05.mp4" type="video/mp4">
        </video>
       
    </div>
    
    <br>    
    <div class="Emergency_contact">
        <div class="conatiner-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-6">
                    <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue" style="background-image: url(../../../../assets/images/emergency-1.png);">
                        <div class="info">
                            <h3>Para cualquier emergencia</h3>
                            <p>Estamos aquí para atender cualquier emergencia médica <br> 
                            que puedas tener. Nuestro equipo altamente calificado <br>
                            está disponible las 24 horas del día, los 7 días de la <br>
                            semana para brindarte la atención que necesitas.</p>
                        </div>
                        <div class="info_button">
                            <a href="tel:3125175148" class="boxed-btn3-white"><img style="width: 15px; margin-top: -5px;" src="../../assets/images/tele.png" alt="">  3125175148</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue" style="background-image: url(../../../../assets/images/emergency-2.png);">
                        <div class="info">
                            <h3>Aparte una cita en línea</h3>
                            <p>Ahora puedes apartar una cita médica en línea para <br>
                            mayor conveniencia. Simplemente sigue el enlace y <br>
                            elige la fecha y hora que mejor te convenga. <br>
                            ¡Es rápido y sencillo!</p>
                        </div>
                        <div class="info_button">
                            <a href="/login" class="boxed-btn3-white"><img style="width: 20px; margin-top: -5px;" src="../../assets/images/citam2.png" alt=""> Aparte Una Cita</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>