<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Bienvenido al Panel de Administrador</h3>
                    <p>Como administrador, tienes acceso a herramientas avanzadas para <BR> gestionar y optimizar la plataforma. ¡Explora y haz un impacto!</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 17%; margin-right: 17%;">
            <div class="col-xl-6 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/index-admin">
                            <img src="../../assets/images/web.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="../Healine-Administrador/index.html">Visualizar Web</a></h3>
                        <p>Explora una vista completa de la plataforma desde la perspectiva del administrador.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-6 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/herramientas">
                            <img src="../../assets/images/herramientas.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/herramientas">Utilizar herramientas</a></h3>
                        <p>Accede a un conjunto de herramientas avanzadas diseñadas para optimizar la administración de la plataforma.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>