<br>
<div>
    <a href="/agenda-home">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>
</div>
<div>
    <h1 class="title1" style="font-size: 45px; color: #2c91d5; padding: 5px; text-shadow: 1px 1px 2px #000000;">Consultar Agenda</h1>
</div>

<div style="background-color: #feffff; border-radius: 10px;">
    <div>
        <div>
            <form class="formCitaBuscar">
                <h1>ㅤ</h1>
                <div class="form-group">
                    <label class="labelCitaBuscar" for="filtroMedico" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;margin-left: 10%; margin-right: 10%;">Filtrar Por Médico</label>
                    <input placeholder="ID o Nombre del Médico" type="text" class="form-control" [(ngModel)]="filtroMedico" name="filtroMedico" style="margin-left: 10%; margin-right: 10%; width: 80%;">
                </div>
                <h1>ㅤ</h1>
            </form>
        </div>
        
    </div>
</div>

<div class="row no-gutters" style="margin-left: 10px;">
    <div>
        <div class="table-responsive">
            <table class="table table-striped" style="width: 100%; margin-top: 20px; font-weight: 600;">
                <thead>
                    <tr>
                        <th class="bg-primary text-white" style="border-radius: 15px 0 0 0; padding: 12px; color: #fff; font-family: 'Arial', sans-serif;">ID</th>
                        <th class="bg-primary text-white" style="padding: 12px; color: #fff; font-family: 'Arial', sans-serif;">Fecha</th>
                        <th class="bg-primary text-white" style="padding: 12px; color: #fff; font-family: 'Arial', sans-serif;">Hora Inicio</th>
                        <th class="bg-primary text-white" style="padding: 12px; color: #fff; font-family: 'Arial', sans-serif;">Hora Fin</th>
                        <th class="bg-primary text-white" style="padding: 12px; color: #fff; font-family: 'Arial', sans-serif;">Médico</th>
                        <th class="bg-primary text-white" style="border-radius: 0 15px 0 0;padding: 12px; color: #fff; font-family: 'Arial', sans-serif;">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agenda of filtrarAgendas(agendas) || []; let i = index" [class.odd]="i % 2 !== 0">
                        <td>{{ agenda.id }}</td>
                        <td>{{ agenda.fecha }}</td>
                        <td>{{ agenda.hora_inicio }}</td>
                        <td>{{ agenda.hora_fin }}</td>
                        <td>{{ agenda.medico }}</td>
                        <td>{{ agenda.descripcion }}</td>
                        <!-- Agregar más celdas según sea necesario -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
