<br>
<div>
    <a href="/herramientas">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>          
</div>
<body>
    <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Agenda Medica</h3>
                        <p>La agenda médica te permite tener un control completo sobre <br>
                        las citas programadas. Consulta la agenda, registra nuevas <br>
                        citas, actualiza detalles y, si es necesario, elimina citas para <br>
                        mantener todo organizado.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/consultar-agenda">
                                <img src="../../../../../assets/images/consultar-agenda.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/consultar-agenda">Consultar Agenda</a></h3>
                            <p>Verifica las citas médicas programadas en la agenda.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/registrar-agenda">
                                <img src="../../../../../assets/images/registro-agenda.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/registrar-agenda">Registrar Agenda</a></h3>
                            <p>Agrega nuevas citas médicas. <br>ㅤ</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/editar-consultar-agenda">
                                <img src="../../../../../assets/images/editar-agenda.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/editar-consultar-agenda">Editar Agenda</a></h3>
                            <p>Actualiza o elimina los detalles de una cita existente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
