<div class="container">
    <a href="/secretaria-home-2">
        <button class="boxed-btn" style="padding: 10px; font-weight: 600; text-decoration: none;">↺ Atrás</button>
    </a>
</div>

<div class="mt-4">
    <h1 class="title1" style="text-align: center;">Consultar <br>Incapacidad</h1>
</div>

<div class="row no-gutters mt-4">
    <div class="col-xl-6 bg-light mt-4">
        <form class="ml-5 mr-5">
            <div class="form-group">
                <label for="filtroPaciente">Filtrar Por Paciente</label>
                <input placeholder="Doc Del Paciente O Nombre" type="text" class="form-control" [(ngModel)]="filtroPaciente" name="filtroPaciente">
            </div>
            <div class="form-group">
                <label for="filtroMedico">Filtrar Por Medico</label>
                <input placeholder="Doc Del Medico O Nombre" type="text" class="form-control" [(ngModel)]="filtroMedico" name="filtroMedico">
            </div>
        </form>
    </div>

    <div class="col-xl-6 bg-white mt-4">
        <div class="table-responsive" id="tabla-imprimir">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center bg-primary text-white rounded-left">ID</th>
                        <th class="text-center bg-primary text-white">Paciente</th>
                        <th class="text-center bg-primary text-white">Médico</th>
                        <th class="text-center bg-primary text-white">Fecha de Incapacidad</th>
                        <th class="text-center bg-primary text-white">Tipo de Incapacidad</th>
                        <th class="text-center bg-primary text-white rounded-right">Detalles De Incapacidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let incapacida of filtrarIncapacidad(incapacidad) || []; let i = index" [class.odd]="i % 2 !== 0">
                        <td class="text-center">{{ incapacida.id }}</td>
                        <td class="text-center">{{ incapacida.paciente }}</td>
                        <td class="text-center">{{ incapacida.medico }}</td>
                        <td class="text-center">{{ incapacida.fecha }}</td>
                        <td class="text-center">{{ incapacida.tipo }}</td>
                        <td class="text-center">{{ incapacida.detalles }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a style="cursor: pointer;" (click)="imprimirTabla()"><img src="../../../../../assets/images/imprimir.png" width="35px" alt=""></a>
    </div>
</div>
