<div class="our_department_area">
   
    <div class="container">
        <div>
            <a href="/admin-home-2">
                <div class="container">
                    <button class="boton-admin">↺ Atrás</button>
                </div>
            </a>          
        </div>
        <br>
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Herramientas</h3>
                    <p>Explora y utiliza las herramientas administrativas disponibles</p>
                </div>
            </div>
        </div>
        
        <div class="row" style="text-align: center;">
            
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/usuarios-home">
                            <img src="../../assets/images/usuarios.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/usuarios-home">Usuarios</a></h3>
                        <p>Administra los usuarios y sus roles en la plataforma.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/consultar-historial">
                            <img src="../../assets/images/historial.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/consultar-historial">Historial Medico</a></h3>
                        <p>Accede al historial médico de los pacientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/agenda-home">
                            <img src="../../assets/images/agenda.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/agenda-home">Agenda Medica</a></h3>
                        <p>Gestiona la agenda médica y programación de citas.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/citas-home">
                            <img src="../../assets/images/citas.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/citas-home">Citas Medicas</a></h3>
                        <p>Administra las citas médicas de los pacientes.</p>
                    </div>
                </div>
            </div>



            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/ordenes-home">
                            <img src="../../assets/images/ordenes.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/ordenes-home">Ordenes Medicas</a></h3>
                        <p>Genera y gestiona órdenes médicas para pacientes.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/formulas-home">
                            <img src="../../assets/images/formulas.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/formulas-home">Medicamentos</a></h3>
                        <p>Crea y administra los medicamentos para los pacientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/examenes-home">
                            <img src="../../assets/images/examen.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/examenes-home">Examenes Medicos</a></h3>
                        <p>Administra los exámenes médicos de los pacientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/incapacidad-home">
                            <img src="../../assets/images/incapacidad.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/incapacidad-home">Incapacidad</a></h3>
                        <p>Gestiona las incapacidades médicas de los pacientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/especialidades-home">
                            <img src="../../assets/images/especialidades.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/especialidades-home">Especialidades</a></h3>
                        <p>Administra las especialidades médicas del aplicativo.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/sedes-home">
                            <img src="../../assets/images/sedes.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/sedes-home">Sedes</a></h3>
                        <p>Consulta y mas las sedes registradas en el aplicativo.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/roles-home">
                            <img src="../../../../assets/images/roles.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/roles-home">Roles</a></h3>
                        <p>Agrega Y Administra Los Roles Disponibles</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-13 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/encuestas-home">
                            <img src="../../../../assets/images/encuestas.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/encuestas-home">Encuestas</a></h3>
                        <p>Analiza Y Consulta Las Encuestas De Satisfaccion Registradas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>