 <br>
<div>
    <a href="/herramientas">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>          
</div>

    <div class="our_department_area">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Usuarios</h3>
                        <p>Esta sección permite gestionar los usuarios del sistema. <br>
                        Aquí podrás consultar, registrar, actualizar y eliminar usuarios<br>
                        según sea necesario. Mantén un control preciso sobre los <br> 
                        datos de acceso y la información relevante de cada usuario.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a href="/consultar-users">
                                <img src="../../../../../assets/images/consultar-usuario.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a href="/consultar-users">Consultar Usuario</a></h3>
                            <P>Accede a los detalles de un usuario registrado en el sistema.</P>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a href="/registrar-users">
                                <img src="../../../../../assets/images/registro-usuario.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a href="/registrar-users">Registro De Usuario</a></h3>
                            <p>Registra nuevos usuarios con información relevante.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a href="/editar-consultar-users">
                                <img src="../../../../../assets/images/editar-usuario.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a href="/editar-consultar-users">Editar Usuarios</a></h3>
                            <p>Actualiza o elimina los datos de un usuario existente.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>