<div class="container mt-4" >
    <a href="/examenes-consultar" style="margin-left: 19%;">
        <button class="boxed-btn" style="padding: 10px; font-weight: 600; text-decoration: none;">↺ Atrás</button>
    </a>
</div>

<div class="container container54 mt-4" style="max-width: 800px; padding: 20px; box-shadow: 0 4px 8px #000000; background-color: transparent;">
    <h1 class="title1">Editar Examen Médico</h1>
    
    <div class="examen-medico">
        <form id="examenMedicoForm" #examenesForm="ngForm" (ngSubmit)="onSubmit()">
            
            <div class="examen-info">
                <label for="formula" class="font-weight-bold mr-2">Cita:</label>
                <select required [(ngModel)]="examenes.cita" name="formula" id="formula" class="form-control">
                    <option *ngFor="let cita of citas" [ngValue]="cita.id + ' ' + cita.fecha">
                        {{ cita.hora }} - {{ cita.fecha }} - {{ cita.paciente }}
                    </option>
                </select>
            </div>

            <div class="examen-info">
                <label for="paciente" class="font-weight-bold mr-2">Paciente:</label>
                <select required [(ngModel)]="examenes.paciente" name="paciente" id="paciente" class="form-control">
                    <option *ngFor="let user of usersPacientes" [ngValue]="user.documento + ' ' + user.primerNombre + ' ' + (user.segundoNombre ? user.segundoNombre + ' ' : '') + user.primerApellido + ' ' + (user.segundoApellido ? user.segundoApellido : '')">
                        {{ user.documento }} - {{ user.primerNombre }} {{ user.segundoNombre }} {{ user.primerApellido }} {{ user.segundoApellido }}
                    </option>
                </select>
            </div>

            <div class="examen-info">
                <label for="nomExamen" class="font-weight-bold mr-2">Nombre del Examen:</label>
                <input required [(ngModel)]="examenes.nombre" type="text" id="nomExamen" name="nomExamen" placeholder="Nombre Del Examen Enviado" class="form-control">
            </div>

            <div class="examen-info">
                <label for="resultado" class="font-weight-bold mr-2">Resultado del Examen:</label>
                <textarea required [(ngModel)]="examenes.resultado" id="resultado" name="resultado" placeholder="Ingrese el resultado del examen" class="form-control"></textarea>
            </div>

            <div class="examen-info">
                <label for="resultado" style="font-weight: bold; margin-right: 10px; color: #000;">Estado:</label>
                <select required [(ngModel)]="examenes.estado" name="estado" id="estado" class="selectLogin" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 14px;">
                    <option value="" selected disabled>Selecciona El Estado De El Examen</option>
                    <option value="Autorizado" style="color: green">Autorizado</option>
                    <option value="No Autorizado" style="color: orange">No Autorizado</option>
                </select> 
            </div>
            
            <div class="examen-info text-center mt-3">
                <button class="btn btn-primary" [disabled]="!examenesForm.form.valid && isFormSubmitted" type="submit">
                    Guardar Cambios
                </button>
            </div>
        </form>
    </div>
</div>
