<br><div>
    <a href="/herramientas">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>          
</div>

<body>
    <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Medicamentos</h3>
                        <p>Los medicamentos te permiten calcular dosis y tratamientos <br>
                           precisos. Consulta los medicamentos, registra nuevos medicamentos, actualiza<br>
                           detalles y, si es necesario, elimina medicamentos para mantener todo organizado.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/consultar-formulas">
                                <img src="../../../../../assets/images/consultar-formula.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/consultar-formulas">Consultar Medicamentos</a></h3>
                            <p>Verifica los medicamentos registradas.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/registrar-formulas">
                                <img src="../../../../../assets/images/registrar-formulas.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/registrar-formulas">Registrar Medicamento</a></h3>
                            <p>Registra nuevos medicamentos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/editar-consultar-formulas">
                                <img src="../../../../../assets/images/editar-formula.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/editar-consultar-formulas">Editar Medicamento</a></h3>
                            <p>Actualiza o elimina los detalles de un medicamentos existente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
