<br><div>
    <a href="/herramientas">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>
</div>

<body>
    <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Sedes</h3>
                        <p>Descubre en profundidad la información detallada de cada sede. <br> 
                           Explora los detalles clave, agrega nuevas sedes para ampliar tu <br> 
                           red y actualiza la información existente para mantenerla siempre <br> 
                           precisa y actualizada.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/consultar-sedes">
                                <!-- Cambia la ruta de la imagen según tu estructura de archivos -->
                                <img src="../../../../../assets/images/consultar-sedes.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/consultar-sedes">Consultar Sedes</a></h3>
                            <p>Consulta la información detallada de las sedes.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/registrar-sedes">
                                <!-- Cambia la ruta de la imagen según tu estructura de archivos -->
                                <img src="../../../../../assets/images/resgistrar-sedes.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/registrar-sedes">Registrar Sede</a></h3>
                            <p>Agrega una nueva sede a la base de datos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/editar-consultar-sedes">
                                <!-- Cambia la ruta de la imagen según tu estructura de archivos -->
                                <img src="../../../../../assets/images/editar-sedes.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/editar-consultar-sedes">Editar Sede</a></h3>
                            <p>Actualiza o elimina la información de una sede existente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
