<br>
<div>
    <a href="/herramientas">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>          
</div>
<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Citas Médicas</h3>
                    <p>Gestiona las citas médicas en esta sección. Consulta las<br>
                        citas programadas, asigna nuevas citas, reprograma o <br>
                        cancela citas si es necesario. También podrás registrar <br>
                        recordatorios y facturar las citas realizadas.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/consultar-citas">
                            <img src="../../../../../assets/images/consultar-citas.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/consultar-citas">Consultar Citas</a></h3>
                        <P>Visualiza las citas médicas programadas.</P>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/registrar-citas">
                            <img src="../../../../../assets/images/registrar-citas.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/registrar-citas">Asignar Cita</a></h3>
                        <p>Asigna una cita médica a un paciente. <br>ㅤ</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/editar-consultar-citas">
                            <img src="../../../../../assets/images/editar-citas.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="/editar-consultar-citas">Editar Cita</a></h3>
                        <p>Reprograma o cancela una cita médica existente.</p>
                    </div>
                </div>
            </div>
            <!--<div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                        <a href="/">
                            <img src="../../../../../assets/images/recordatorios.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                        </a>
                    </div>
                    <div class="department_content">
                        <h3><a href="../herramientas/recordatorio.html">Recordatorios</a></h3>
                        <p>Crea recordatorios para las citas médicas.</p>
                    </div>
                </div>
            </div>-->
            
            <div class="col-xl-4 col-md-6 col-lg-4">

        </div>
    </div>
</div>
