<div class="container mt-4">
    <a href="/secretaria-home-2">
        <button class="boxed-btn" style="padding: 10px; font-weight: 600; text-decoration: none;">↺ Atrás</button>
    </a>
</div>

<div class="container" style="text-align: center;">
    <h1 class="title1">Consultar <br>Examen Medico</h1>
</div><br><br>

<div class="row no-gutters">
    <div class="col-xl-6">
            <form class="formCitaBuscar">
                <div class="form-group">
                    <label class="labelCitaBuscar" for="filtroPaciente">Filtrar Por Paciente</label>
                    <input type="text" class="form-control" placeholder="ID o Nombre del Paciente" [(ngModel)]="filtroPaciente" name="filtroPaciente">
                </div>
            </form>
    </div>
    

    <div class="col-xl-6">
        <a style="cursor: pointer;" (click)="imprimirTabla()"><img src="../../../../../assets/images/imprimir.png" width="35px" alt=""></a> <br>
        <div id="tabla-imprimir">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="text-center bg-primary text-white">ID</th>
                        <th class="text-center bg-primary text-white">Cita</th>
                        <th class="text-center bg-primary text-white">Paciente</th>
                        <th class="text-center bg-primary text-white">Nombre Del Examen</th>
                        <th class="text-center bg-primary text-white">Resultado del Examen</th>
                        <th class="text-center bg-primary text-white">Fecha del Examen</th>
                        <th class="text-center bg-primary text-white">Estado</th>
                        <th class="text-center bg-primary text-white">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let examen of filtrarExamenes(examenes) || []; let i = index" [class.odd]="i % 2 !== 0">
                        <td class="text-center">{{ examen.id }}</td>
                        <td class="text-center">{{ examen.cita }}</td>
                        <td class="text-center">{{ examen.paciente }}</td>
                        <td class="text-center">{{ examen.nombre }}</td>
                        <td class="text-center">{{ examen.resultado }}</td>
                        <td class="text-center">{{ examen.fecha }}</td>
                        <td class="text-center">{{ examen.estado }}</td>
                        <td class="text-center">
                            <a [routerLink]="['/examenes-editar/editar/', examen.id]">
                                <img src="../../../../assets/images/editar.png" alt="Editar Examenes" style="width: 19px; height: 19px;">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
        
    </div>
    
</div>

