<div class="bradcam_area breadcam_bg_4 bradcam_overlay" style="background-image: url(../../../../assets/images/bradcam7.png);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h2>Acerca De</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="testmonial_area">
    <div class="testmonial_active owl-carousel">
        <div class="single-testmonial testmonial_bg_1 overlay2" style="background-image: url(../../../../assets/images/bradcam2.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>Nuestra mision es brindar servicios de salud integrales y de calidad, promoviendo el bienestar 
                                y la satisfacción de nuestros afiliados. Nos comprometemos a garantizar el
                                acceso oportuno a una atención médica de excelencia</p>
                            <div class="testmonial_author">
                                <h4>MISION</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-testmonial testmonial_bg_2 overlay2" style="background-image: url(../../../../assets/images/bradcam4.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p> Nos esforzamos por ser reconocidos como una entidad líder en la promoción y protección de la salud de nuestros afiliados. Buscamos ser referentes en la prestación de servicios de salud, destacándonos por nuestra excelencia en la atención, nuestra innovación en procesos y tecnología </p>
                            <div class="testmonial_author">
                                <h4>VISION</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-testmonial testmonial_bg_3 overlay2" style="background-image: url(../../../../assets/images/bradcam3.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>Nuestro compromiso con la calidad es fundamental en todos los aspectos de nuestra operación. Nos esforzamos por garantizar altos estándares de atención médica y servicios de calidad para nuestros afiliados.  </p>
                            <div class="testmonial_author">
                                <h4>COMPROMISO</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


<div class="single-testmonial testmonial_bg_4 overlay2">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="testmonial_info">
                    <div class="quote">
                        <i class="flaticon-straight-quotes"></i>
                    </div>
                    
                    <p class="section-subtitle">
                        En Nova EPS, nuestra pasión es el bienestar y la calidad de vida de nuestros afiliados. Desde nuestro inicio en 1996, hemos liderado la entrega de servicios de salud integrales, centrados en prevención, diagnóstico, tratamiento y promoción.
                    </p>
                    <p class="section-subtitle">
                        Impulsamos la excelencia en atención al paciente, respuesta ágil y búsqueda constante de mejora. Nuestros estándares altos de calidad, ética y profesionalismo guían cada acción que emprendemos.
                    </p>
                    <p class="section-subtitle">
                        Celebramos logros pasados mientras abrazamos el futuro. Nos expandimos, innovamos y adaptamos para atender las cambiantes necesidades de los afiliados, continuando como referentes de salud en Colombia.
                    </p>
                    <p class="section-subtitle">
                        Agradecemos tu confianza en Nova EPS. Juntos, forjemos un mañana más saludable y próspero.
                    </p>
                    <div class="section-divider" style="background-color: rgb(236, 236, 236);"></div>
                    <h1 class="section-title" style="color: azure;">Descubre Nova EPS</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="Emergency_contact">
    <div class="conatiner-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-6">
                <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue" style="background-image: url(../../../../assets/images/emergency-1.png);">
                    <div class="info">
                        <h3>Para cualquier emergencia</h3>
                        <p>Estamos aquí para atender cualquier emergencia médica <br> 
                        que puedas tener. Nuestro equipo altamente calificado <br>
                        está disponible las 24 horas del día, los 7 días de la <br>
                        semana para brindarte la atención que necesitas.</p>
                    </div>
                    <div class="info_button">
                        <a href="tel:3125175148" class="boxed-btn3-white"><img style="width: 15px; margin-top: -5px;" src="../../assets/images/tele.png" alt="">  3125175148</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue" style="background-image: url(../../../../assets/images/emergency-2.png);">
                    <div class="info">
                        <h3>Aparte una cita en línea</h3>
                        <p>Ahora puedes apartar una cita médica en línea para <br>
                        mayor conveniencia. Simplemente sigue el enlace y <br>
                        elige la fecha y hora que mejor te convenga. <br>
                        ¡Es rápido y sencillo!</p>
                    </div>
                    <div class="info_button">
                        <a href="/login" class="boxed-btn3-white"><img style="width: 20px; margin-top: -5px;" src="../../assets/images/citam2.png" alt=""> Aparte Una Cita</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>