<br>
<div>
    <a href="/herramientas">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>
</div>

<body>
    <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Roles</h3>
                        <p>Explora y administra los roles en la EPS. <br> 
                           Añade nuevos roles para mejorar la gestión y <br> 
                           asignación de tareas en la organización.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/consultar-roles">
                                <!-- Cambia la ruta de la imagen según tu estructura de archivos -->
                                <img src="../../../../../assets/images/consultar-roles.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/consultar-roles">Consultar Roles</a></h3>
                            <p>Consulta la información detallada de los roles.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/registrar-roles">
                                <!-- Cambia la ruta de la imagen según tu estructura de archivos -->
                                <img src="../../../../../assets/images/registrar-roles.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/registrar-roles">Registrar Rol</a></h3>
                            <p>Agrega un nuevo rol a la base de datos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/editar-consultar-roles">
                                <!-- Cambia la ruta de la imagen según tu estructura de archivos -->
                                <img src="../../../../../assets/images/editar-roles.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/editar-consultar-roles">Editar Rol</a></h3>
                            <p>Actualiza o elimina la información de un rol existente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
