body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.encabezado {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  font-weight: 500;
}

.healine {
  font-size: 48px;
  font-weight: bold;
  color: #3498db;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}

.contenedor-recuadros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.recuadro-container {
  width: 45%;
  margin: 10px 0;
}

.recuadro {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.recuadro:hover {
  box-shadow: 0px 0px 20px rgba(240, 26, 104, 0.1);
}

.titulo-recuadro {
  color: #3498db;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.titulo-recuadro:hover {
  color: #2980b9;
}

.boton-cerrar-sesion {
  background: #fff;
  display: inline-block;
  padding: 7px 35px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  border: 1px solid #3498db;
  letter-spacing: 3px;
  text-align: center;
  color: #3498db !important;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.boton-cerrar-sesion:hover {
  background: #3498db;
  color: #fff !important;
  border-color: #ffffff;
}


a{
  text-decoration: none;
}

.linea{
  padding: 2px;
  width: 96%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3px;
  background-color: #3498db;
  box-shadow: 0px 0px 20px rgba(240, 26, 104, 0.1);

}


.perfil-link {
  text-align: center;
  margin-top: 20px;
}

.perfil-recuadro {
  color: #3498db;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.perfil-recuadro:hover {
  color: #2980b9;
}




/* Estilos para la ventana emergente */
.modal {
  display: none; /* Oculta la ventana emergente por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.encuesta-satisfaccion {
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  max-width: 500px;
  width: 90%;
  
}

.encuesta-satisfaccion h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.encuesta-satisfaccion label {
  font-weight: bold;
  font-size: 18px;
}

.encuesta-satisfaccion select,
.encuesta-satisfaccion textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}



.boxed-btn-salir {
  background: #fff;
  color: #b21f2d;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #b21f2d;
  letter-spacing: 3px;
  text-align: center;
  color: #b21f2d !important;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}

.boxed-btn-salir:hover {
  background: #b21f2d;
  color: #fff !important;
  border: 1px solid #b21f2d;
}

.cerrar-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Color del icono de cerrar */
}


.overlay-medico {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}


input[type="radio"]:checked + img {
  border: 2px solid #1a1a1a; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border-radius: 5px;
}


.bar-chart {
  display: flex;
  flex-direction: row;
}

.barEncuestas {
  background-color: #007bff; /* Color de la barra */
  color: white;
  margin: 0 5px; /* Margen entre barras */
  text-align: center;
  padding: 10px 0; /* Espacio interno en la barra */
  flex-grow: 1; /* Permitir que las barras crezcan para llenar el espacio disponible */
}

.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #009DFF;
  letter-spacing: 3px;
  text-align: center;
  color: #009DFF !important;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}

.boxed-btn:hover {
  background: #009DFF;
  color: #fff !important;
  border: 1px solid #009DFF;
}

.boxed-btn:focus {
  outline: none;
}

.boxed-btn.large-width {
  width: 220px;
}


