<br>
<div>
    <a href="/herramientas">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>          
</div>
    <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Especialidades Médicas</h3>
                        <p>Explora las especialidades médicas disponibles <br>
                        en esta sección. Encuentra información sobre <br>
                        cada especialidad, los médicos especialistas <br>
                         y los servicios ofrecidos.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a href="/consultar-especialidades">
                                <img src="../../../../../assets/images/consultar-especialidad.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a href="/consultar-especialidades">Consultar Especialidades</a></h3>
                            <p>Consulta la lista de especialidades médicas disponibles.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a href="/registrar-especialidades">
                                <img src="../../../../../assets/images/registrar-especialidad.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a href="/registrar-especialidades">Registrar Especialidad</a></h3>
                            <p>Registra una nueva especialidad médica en nuestra base de datos.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a href="/editar-consultar-especialidades">
                                <img src="../../../../../assets/images/editar-especialidad.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a href="/editar-consultar-especialidades">Editar Especialidad</a></h3>
                            <p>Modifica la información de una especialidad médica existente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>